.form {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em;
  margin: 0.5em 0;
  max-width: 640px;
  max-height: 100%;
  overflow: auto;
  border-radius: 6px;
  box-sizing: border-box;
}

.form__field {
  margin: 0 0 0.5em;
  border: 0;
  padding: 0;
  display: block;
}

.form__field-label {
  display: block;
}

.form__field-input {
  width: 100%;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 3px;
  font-size: inherit;
  color: black;
  display: block;
  box-sizing: border-box;
}

.form__field-radio {
  margin-right: 1em;
  white-space: nowrap;
  display: inline-block;
}

.form__button {
  margin-right: 1em;
  padding: 0.4em 0.9em;
  border: 0;
  background: white;
  border: 0.1em solid white;
  border-radius: 6px;
  font-size: inherit;
  color: black;
  cursor: pointer;
}

.form__button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.form__button--secondary {
  background: none;
  color: white;
}
